/JpaBasic_FirstDay/target/
/JpaBasic_ThirdDay/target/
/FridayExercises/BookWebStore_JPA2/target/
/FridayExercises/BookWebStore_JPA2_OLD/target/
/FridayExercises/BookWebStore_JPA2/BookWebStore_JPA2/target/
/FridayExercises/JpaBasic_ThirdDay/target/
/FridayExercises/EntityMapping-3_JPA/target/
/FridayExercises/CustomerOrders_JPA1/target/